@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default variables (Dark Mode) */
  --bg: #050505;
  --card-bg: #0A0A0A;
  --surface-highlight: #1A1A1A;
  --text: #E5E5E5;
  --text-secondary: #A1A1AA;
  --border: #27272A;
}

.theme-light {
  --bg: #FFFFFF;
  --card-bg: #F4F4F5;
  --surface-highlight: #E4E4E7;
  --text: #18181B;
  --text-secondary: #52525B;
  --border: #E4E4E7;
}

.theme-dark {
  --bg: #050505;
  --card-bg: #0A0A0A;
  --surface-highlight: #1A1A1A;
  --text: #E5E5E5;
  --text-secondary: #A1A1AA;
  --border: #27272A;
}

body {
  color: var(--text);
  background: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #27272A;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3F3F46;
}
